@forward "reset";
@forward "fonts";

@use "variables";
@use "sass:map";

html,
body {
    background-color: map.get(variables.$color, primary);

    scroll-behavior: smooth;

    @media (max-width: 1600px) {
        .page-container {
            max-width: map.get(variables.$page-width, desktop-short);
        }
    }

    @media (max-width: 1280px) {
        .page-container {
            max-width: map.get(variables.$page-width, tablet);
        }
    }

    @media (max-width: 750px) {
        .page-container {
            max-width: calc(map.get(variables.$page-width, tablet) - 200px);
        }
    }

    @media (max-width: 500px) {
        .page-container {
            max-width: map.get(variables.$page-width, mobile);
        }
    }
}

.page-container {
    max-width: map.get(variables.$page-width, desktop);
}

* {
    color: map.get(variables.$color, white);

    scroll-margin-top: 125px;
}
