$color: (
    primary: #212121,
    secondary: #1016c8,
    white: #ffffff,
    black: #000000,
    error: #c0392b,
);

$page-width: (
    desktop: 1680px,
    desktop-short: 1180px,
    tablet: 768px,
    mobile: 350px,
);

@mixin desktop {
    @media (min-width: 1600px) {
        @content;
    }
}

@mixin desktop-short {
    @media (max-width: 1600px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 750px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 500px) {
        @content;
    }
}

::-webkit-scrollbar {
    display: none;
}
