$color: (
  primary: radial-gradient(85.26% 251.67% at 56.65% 46.88%, #0F1219 0%, #152972 27.4%, #325FB1 54.81%, #4072BE 82.21%, #C5D6E8 100%),
  secondary: #212121,
  white: #ffffff,
  black: #000000,
);